* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Poppins", sans-serif;
}
main {
  width: 80%;
  height: 90%;
  max-width: 1440px;
  margin: 20px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px;
  background-image: url("icons/img1.png");
  background-color: hsl(0, 100%, 74%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#intro {
  color: white;
  width: 40%;
  
}
#form-el {
  width: 60%;
  margin-left: 20px;
  
}
#intro h1 {
  line-height: 40px;
  font-weight: bolder;
}
#intro p {
  font-size: 11px;
  margin-top: 15px;
}
form {
  padding: 30px 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 5px rgba(59, 55, 55, 0.3);
}
form p {
  color: grey;
  font-size: 10px;
  text-align: center;
  padding: 10px;
}
span {
  color: hsl(0, 100%, 74%);
  font-size: 10px;
  font-style: italic;
  padding-top: 3px;
  text-align: right;
  display: none;
}
input {
  width: 100%;
  padding: 13px 20px;
  margin-top: 10px;
  border-radius: 3px;
  color: rgb(54, 53, 53);
  font-weight: bold;
  border: 1px solid rgb(228, 227, 227);
  outline: none;
}
input:focus {
  background-color: white;
  border: 1px solid rgb(211, 209, 209);
  
}
.inputs:focus::placeholder{
  color: transparent;
}
input:focus:invalid {
  border: 2px solid hsl(0, 100%, 74%);
  background-image: url("icons/icon-error.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-origin: content-box;
}
input:focus:invalid ~ span {
  display: block;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid hsla(116, 35%, 33%, 0.7);
  
}
button:focus {
  opacity: 0.7;
  cursor: pointer;
}

#info {
  width: 100%;
  background-color: hsl(248, 32%, 49%);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 15px;
  box-shadow: -1px 6px rgba(59, 55, 55, 0.3);
}
.red:focus::placeholder{
  color:hsl(0, 100%, 74%);
  font-weight: bold;
}

b{
  color: hsl(0, 100%, 74%);
}

@media screen and (max-width: 1100px){
  main{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
  }
  #intro{
    padding: 10px;
    margin-right: 10px;
  }
  #intro p{
    line-height: 20px;
  }

}
@media screen and (max-width: 675px){
  main{
    width: 100%;
    height: 100vh;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  #intro,#form-el{
    width: 95%;
    margin: 0;
  }
  #intro p{
    font-size: 0.8em;
    text-align: center;
    margin-top: 0;

  }
  #intro h1{
    text-align: center;
    font-size: 1.5em;
    padding: 10px 20px;
    margin-bottom: 0;
    line-height: 25px;
  }
  form{
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (max-width: 421px) {
  main {
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 100vh;
    padding: 15px 20px;
    display: block;
    background-image: url("icons/bg-intro-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #intro,
  #form-el {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  #intro h1 {
    margin-top: 15px;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
    padding: 1px 32px;
  }
  
  #intro p {
    font-size: 13px;
    text-align: center;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 2px;
    padding-bottom: 20px;
    color: rgb(240, 234, 234);
  }
  #info {
    padding: 12px 50px;
  }
  input {
    margin-bottom: 8px;
    margin-top: 0;
    font-weight: bold;
    font-size: 10px;
    padding: 8px;
  }
  input:focus:invalid {
    margin-bottom: 1px;
    background-size: 15px;
  }
  form {
    padding: 10px 15px;
    margin-top: 5px;
  }
  form p {
    padding: 5px 35px;
  }
  span {
    padding-top: 1px;
  }
  button {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
